<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My First Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <span v-if="seen">Now you see me</span>
    </div>
    <div id="list">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="hello">
        <p>{{ message }}</p>
        <label>
            <input v-model="message">
        </label>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="todo">
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>
    <script src="index.js"></script>
</body>
</html>